<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <link rel="stylesheet" href="/registerapp/templates/static/registration.css">

    <title>Register</title>
  </head>
  <body >
   <div class="form-content">
        <div class="mb-3 million-dots-log">
            <img class="" src="/milliondotsproject/milliondotslogo/million-dots-logo - Copy.svg" alt="">
         </div>

         <div class="form-content">
          <p>
            Sign up to see our programmes
          </p>

          
         </div>



      <form class="">
          <div>
            <div class="mb-3">
              <label for="exampleInputfirstname" class="form-label">Firstname</label>
              <input type="firstname" class="form-control" id="exampleInputfirstname">
            </div>

            <div class="mb-3">
              <label for="exampleInputLastname" class="form-label">Lastname</label>
              <input type="Lastname" class="form-control" id="exampleInputLastname1">
            </div>

            <div class="mb-3 ">
              <label for="exampleInputEmail1" class="form-label form_text">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            
            <div class="mb-3">
              <label for="exampleInputUsername" class="form-label">Username</label>
              <input type="Username" class="form-control" id="exampleInputUsername">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3 reg-button">
              <button type="button" class="btn btn-outline-secondary">Sign Up</button>
            </div>

            <div class="login-link">
              <h6 class="text1">
                Have an account?
                <button type="button" class="btn btn-link">Log In</button>
              </h6>
            </div>
        </div>
     </form>
    </div>
  </body>
</html>
